.places {
    text-align: center;
    margin: 0;
}
.places h1 {
    font-size: 30px;
    vertical-align: top;
    text-align: left;
    padding: 25px 0 0 0px;
    margin: 0;
}

.places article {
    width: 390px;
    padding: 10px;
    margin: 10px;
    border: #FF5A5F solid 1px;
    border-radius: 4px;
    position: relative;

}


.places h2 {
    font-size: 25px;
    text-align: center;
    margin: 10px;
}

